---
---

//
// IMPORTS
//

@import "variables";
@import "reset";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  background: var(--bgpagecolor);
  background-image: url("images/bg-min.png");
  // background-attachment: fixed;
}

body {
  background-color: rgba(0,0,0,var(--bgimgtransparency));
  font-size: 1.125rem ;
  line-height: 2rem;
  color: var(--defaultfontcolor);
  font-family: var(--fonts);
  transition: var(--themeswitchtransition);
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  width: 100%;
  background: var(--bgcontentcolor);
  transition: var(--themeswitchtransition);
  box-shadow: 5px 5px 5px var(--shadow);

  @media (max-width: 1200px) {
    width: 90%;
  }

  @media (max-width: 900px) {
    width: 95%;
  }

  @include mobile {
    width: 100%;
  }
}

.wrapper-footer .container {
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6, .site-name {
  color: var(--titlecolor);
  transition: var(--themeswitchtransition);
  font-weight: bold;

  line-height: 3.5rem;
  margin: 1rem 0 1rem;
  padding: 0;

}

h1, .site-name {
  font-size: 2rem;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.5rem;
  a {
    color: inherit;
  }
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
  color: var(--h4color);
  transition: var(--themeswitchtransition);
}

p {
  margin: 1rem 0;
}

select {
  background-color: var(--selectboxbgcolor);
  transition: var(--themeswitchtransition);
}

a {
  color: var(--linkcolor);
  text-decoration: none;
  &:hover, &:active {
     text-shadow: 2px 2px 5px var(--shadow);
     border-bottom: 2px solid;
  }
}

a img:hover {
    box-shadow: 4px 4px 8px var(--shadow);
}

ul, ol {
  margin: 1rem 0;
  padding-left: 4rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: var(--h4color);
  transition: var(--themeswitchtransition);
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid var(--mastheadbordercolor);
  transition: var(--themeswitchtransition);

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    width: 15rem;
    height: 15rem;
  }
	
   img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: var(--defaultfontcolor);
  transition: var(--themeswitchtransition);
  font-weight: 500;
  font-size: 2rem;
}

.site-description {
  margin: -5px 0 0 0;
  color: var(--h4color);
  font-size: 1rem;

  @include mobile {
    margin: 3px 0;
  }
}

#themeSwitcher {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-size: 1.25rem;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 1rem;
  }

}

nav{
  margin-bottom: 0.8rem;
  margin-top: -0.8rem;

  // a {
  //   margin-left: 20px;
  //   color: var(--defaultfontcolor);
  //   text-align: right;
  //   font-weight: bold;

  //   @include mobile {
  //     margin: 0 10px;
  //     color: var(--linkcolor);
  //   }
  // }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--h4color);
  transition: var(--themeswitchtransition);
}

.posts > .post:last-child {
  padding-bottom: 1rem;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8rem .8rem;
    border-left: 2px solid var(--h4color);
    padding: 0.1rem 1rem;
    color: var(--h4color);
    font-size: 1.125rem;
    font-style: italic;
    transition: var(--themeswitchtransition);
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 0.9rem;
  }

}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid var(--shadow);
  border-bottom: 1px solid var(--shadow);
  background-color: var(--mastheadtextcolor);
  transition: var(--themeswitchtransition);
}

footer {
  padding: 20px 0;
  text-align: center;
}

details {
  border: 1px dashed var(--h4color);
  padding: 10px;
  transition: var(--themeswitchtransition);
}

details[open] {
  padding-bottom: 0px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
