* { margin: 0; padding: 0; box-sizing: border-box;
  
    /* Color scheme */
    
    --textcolor: #252525;
    --bgcolor: #d6d6d6;
    --bodybgcolor:#e5e5e5;
    --accentbgcolor:#e5e5e5;
    --highlight: #2749c9;
  
  }
  
  @media (prefers-color-scheme: dark) {
    * {
      --textcolor: #e3e3e3;
      --bgcolor: #252525;
      --bodybgcolor:#797979;
      --accentbgcolor:#494949;
      --highlight: #ffc400;
    }
  }
  
  body {
    font-size: 1.2em;
    font-family: Trebuchet MS, sans-serif;
    line-height: 1.9em;
    color: var(--textcolor);
    background: var(--bodybgcolor);
    position: relative;
    max-width: 64em;
    margin: 0 auto;  /* centers the layout */
  }
  
  /* ------- article ------- */
  
  article {
    padding: 0 5vw 0 5vw;
    display: block;
    position: relative;
    top: -1em;
    min-height: 100vh;
    max-width: 100ch;
    background: var(--bgcolor);
    margin: 0 auto;
  }
  
  /* ------- Header ------- */
  
  header {
    padding: 2em 0 0 5vw;
    display: block;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    background: var(--bgcolor);
  }
  
  header h1 {
    font-size: 3em;
    /* flex: 1; */
    white-space: nowrap;
    padding: 0 0 .5em 0;
  }
  
  nav {
    display: block;
  }

  .selected{
    background-color: var(--accentbgcolor);
  }
  
  /* ------- General ------- */

  a {
    text-decoration: underline;
    color: var(--highlight);
  }
  
  a:hover {
    border-bottom: 1px solid;
  }
  
  h2, h3, h4 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.5em;
    padding: 1em 0 0 0;
    text-align: center;
  }

  p, ul, ol, article, h2, h3, h4 {
    max-width: 100%;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 2em;
  }
  
  li {
    margin-bottom: .5em;
    padding-left: .5em;
  }
  
  ul, ol {
    padding-left: 3em;
  }
  
  b, strong {
    font-weight: 600;
  }
  
  /* External links */
  
  a[href*="//"]:after { 
    font-weight: 300;
    font-size: .85em;
    content: "\2197"; /* top right arrow: â†— */
    opacity: .25;
  }
  
  a[href*="//"]:hover:after {
    opacity: 1;
  }

  /* -------- Emojis -------- */

  @counter-style counter-lang {
    system: fixed;
    symbols: 🥖 🍵;
    suffix: " ";
  }
  .list-lang{
      list-style-type: counter-lang;
  }

  @counter-style counter-skills {
    system: fixed;
    symbols: 📐 🤖 🎓;
    suffix: " ";
  }
  .list-skills{
      list-style-type: counter-skills;
  }

  @counter-style counter-projects {
    system: fixed;
    symbols: ✍️ 📰 😎 🛠️ 📺;
    suffix: " ";
  }
  .list-projects{
    list-style-type: counter-projects;
  }   
  
  @counter-style counter-contact {
    system: fixed;
    symbols: 👔 🐘 🟦 👨‍💻 📧;
    suffix: " ";
  }
  .list-contacts{
      list-style-type: counter-contact;
  }

  .emo-hello::before{
    content: "👋 ";
  }
  .emo-job::before{
    content: "💻 ";
  }
  .emo-projects::before{
    content: "💡 ";
  }
  .emo-contact::before{
    content: "📨 ";
  }
  .emo-analytics::before{
    content: "📊 "
  }
  
  /* ------- Smaller screens ------- */
  
  @media only screen and (max-width: 680px) {
    body { font-size: 1.2em; }
  }
  
  @media only screen and (max-width: 540px) {
    nav { width: 100%; } /* Fix for older webkit versions */
  }
  
  /* ------- Print ------- */
  
  @media print {

    nav { display: none; }
      
  }