
//
// VARIABLES
//

// css variables
:root {
  --bgpagecolor: #333;
  --bgcontentcolor: #222;
  --titlecolor: #bbb;
  --linkcolor: orangered;
  --defaultfontcolor: #bbb;
  --h4color: #999;
  --shadow: #666;
  --mastheadtextcolor: #444;
  --bgimgopacity: 0.5;
  --selectboxbgcolor:#555;
  --fonts: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;;
  --themeswitchtransition:0s;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme=light]) {
      color-scheme: dark;
    --bgpagecolor: #333;
    --bgcontentcolor: #222;
    --titlecolor: #bbb;
    --linkcolor: orangered;
    --defaultfontcolor: #bbb;
    --h4color: #999;
    --shadow: #000;
    --mastheadtextcolor: #444;
    --mastheadbordercolor: #222;
    --bgimgtransparency: 0.5;
    --selectboxbgcolor:#555;
  }
}

[data-theme=dark] {
  color-scheme: dark;
  --bgpagecolor: #333;
  --bgcontentcolor: #222;
  --titlecolor: #bbb;
  --linkcolor: orangered;
  --defaultfontcolor: #bbb;
  --h4color: #999;
  --shadow: #000;
  --mastheadtextcolor: #444;
  --mastheadbordercolor: #222;
  --bgimgtransparency: 0.5;
  --selectboxbgcolor:#555;
}

[data-theme=light],
:root:not([data-theme=dark]) {
  color-scheme: light;
  --bgpagecolor: #666;
  --bgcontentcolor: #F5F5F6;
  --titlecolor: #222;
  --linkcolor: orangered;
  --defaultfontcolor: #333;
  --h4color: #666;
  --shadow: #666;
  --mastheadtextcolor: #eee;
  --mastheadbordercolor: #eee;
  --bgimgtransparency: 0;
  --selectboxbgcolor:#ccc;
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}