---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  {% if page.categories contains "obsolete" %}
  <details>
    <summary><strong>Attention : article obsolète 📜</strong></summary>
    <p>
      Vous lisez un vieux machin qui est au moins partiellement obsolète.
      Je le laisse en ligne pour conserver un historique, mais les infos qui y figurent ne sont vraiment pas à jour.
    </p>
  </details>
  {% endif %}

  <details>
    <summary>Structure de l'article</summary>
    <div id="articleSummary"></div>
  </details>

  <div class="entry">
    {{ content }}
  </div>
  <hr>
  <div class="share">
    Vous avez aimé cet article ? Partagez-le -> <button id="copyPermalink" title="Cliquez ici pour copier le lien vers cet article." onclick="copyToClipboard()" permalink="{{ page.url }}">📄</button>
  </div>

  <div class="date">
    Publié le {{ page.date | date: "%d" }}/{{ page.date | date: "%m" }}/{{ page.date | date: "%Y" }}.
    {% if page.updatedOn %}
    Mis à jour le {{page.updatedOn}}
    {% endif %}
  </div>
</article>
