---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  {% if page.categories contains "obsolete" %}
  <details>
    <summary><strong>Attention : article obsolète 📜</strong></summary>
    <p>
      Vous lisez un vieux machin qui est au moins partiellement obsolète.
      Je le laisse en ligne pour conserver un historique, mais les infos qui y figurent ne sont vraiment pas à jour.
    </p>
  </details>
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Ecrit le {{ page.date | date: "%d" }}/{{ page.date | date: "%m" }}/{{ page.date | date: "%Y" }}
  </div>
</article>
