---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  {% if page.categories contains "obsolete" %}
  <details>
    <summary><strong>Attention : article obsolète 📜</strong></summary>
    <p>
      Vous lisez un vieux machin qui est au moins partiellement obsolète.
      Je le laisse en ligne pour conserver un historique, mais les infos qui y figurent ne sont vraiment pas à jour.
    </p>
  </details>
  {% endif %}

  <details>
    <summary>{% if page.lang == "en-GB" %}Structure of the post{% else %}Structure de l'article{% endif %}</summary>
    <div id="articleSummary"></div>
  </details>

  <div class="entry">
    {{ content }}
  </div>
  <hr>
  <div class="share">
    {% if page.lang == "en-GB" %}
    Did you like what you just read? Share it ->
    {% else %}
    Vous avez aimé cet article ? Partagez-le -> 
    {% endif %}
    <button id="copyPermalink" title="Cliquez ici pour copier le lien vers cet article." onclick="copyToClipboard()" permalink="{{ site.url }}{{ page.url }}">📄</button>
  </div>

  <div class="date">
    {% if page.lang == "en-GB" %}
      {% assign this_date = page.date | date:"%Y-%m-%d" %}
      {% assign published_date = "Published on " | append: this_date %}
      {% assign updated_on = "Updated on " | append: page.updatedOn %}
    {% else %}
      {% assign this_date = page.date | date:"%d/%m/%Y" %}
      {% assign published_date = "Publié le " | append: this_date %}
      {% assign updated_on = "Mis à jour le " | append: page.updatedOn %}
    {% endif %}
    {{ published_date }}.
    {% if page.updatedOn %}
    {{updated_on}}
    {% endif %}
  </div>
</article>
